body {
    color: black;
  }

  body, h1, p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

.BorderWrapper {
    width: 100%;
    margin-left: auto auto auto 0;
    margin-right: auto;  
    text-align: center;
}

/*Stuff for index menu*/
.NameBorder {
    color: white;
    display: inline-block;
    background-color: #03A9F4;
    margin-left:  25px;
    margin-right:  25px;
    margin-top: 5%;
    width: 230px;
    /*Changes the padding inside the box*/
    padding-top:10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    text-align: center;
  }

.menIcon {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
}

.NameBorder:hover { /*Adds a shadow when hovering over the index options*/
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.3);
}

.title{ /*homepage title*/
    font-size: 50px;
    color: black;
    margin-top: 5%;
    text-align: center;
}

footer{
    color: grey;
    margin-top: 70px;
    opacity: 0.5;
    text-align: center;
}

/*End of stuff for index menu*/



/*Stuff for navigation bar*/
.navbar {
    text-align: center;
} 

.outsidebox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 35px; 
    text-align: center;
}

.insidebox a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.insidebox img {
    height: 45px;
    margin-right: 15px;
    margin-bottom: -10px;
}


/*Stuff for tip calculator*/

.calculator-container {
    width: 500px;
    height: 800px;
    background-color: #03A9F4;
    margin: 10px auto;
  }

  .big-container {
    height: 160px;
  }

  .bill-amount-container {
    background-color: black;
  }

  .split-container {
    text-align: center;
    font-size: 25px;
  }

  .dollarSign {
    font-size: 45px;
    display: inline-block;
    margin-left: 100px;
    color: white;
  }

.people {
  font-size: 20px;
}

input#bill-total {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    width: 250px;
    background-color:white;
    border: none;
    color: black;
    outline: 0;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  i.fa.fa-plus,
  i.fa.fa-minus {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
  }
  i.fa.fa-plus:hover,
  i.fa.fa-minus:hover {
    color: black;
  }
  i.fa.fa-plus {
    margin-left: 50px;
  }

  .bill-amount {
    display: block;
    margin-left: 50px;
    padding-top: 30px;
    font-weight: 700;
    color: white;
  }

  #split-amount {
    font-size: 30px;
  }

  .small-container {
    height: 100px;
  }

  .tip-percentage-container {
    text-align: center;
  }

  .tip-container {
    font-size: 25px;
    line-height: 100px;
  }

  #percentage {
    font-size: 30px;
  }